# Importing Python libraries

In [ ]:
#-- Library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Importing sunphotometer AERONET data - reading the AOD
## https://aeronet.gsfc.nasa.gov/

In [2]:
dfaeronet = pd.read_csv('../170101_171231_Sao_Paulo/170101_171231_Sao_Paulo.lev15', skiprows=[0,1,2,3],na_values = ['N/A'],parse_dates=[0,1],header=0)
dfaeronet.head()

,Date(dd-mm-yy),Time(hh:mm:ss),Julian_Day,AOT_1640,AOT_1020,AOT_870,AOT_675,AOT_667,AOT_555,AOT_551,...,AOT_532-ExactWavelength(nm),AOT_531-ExactWavelength(nm),AOT_500-ExactWavelength(nm),AOT_490-ExactWavelength(nm),AOT_443-ExactWavelength(nm),AOT_440-ExactWavelength(nm),AOT_412-ExactWavelength(nm),AOT_380-ExactWavelength(nm),AOT_340-ExactWavelength(nm),Water(cm)-ExactWavelength(nm)
0,03:01:2017,2018-05-22 11:57:03,3.497951,NaN,0.152786,0.160540,0.170479,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
1,03:01:2017,2018-05-22 12:57:04,3.539630,NaN,0.149008,0.167898,0.185650,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
2,03:01:2017,2018-05-22 13:57:05,3.581308,NaN,0.092085,0.115457,0.143187,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
3,03:01:2017,2018-05-22 14:20:48,3.597778,NaN,0.090170,0.114062,0.139043,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
4,03:01:2017,2018-05-22 14:27:07,3.602164,NaN,0.097554,0.119154,0.146257,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8

In [3]:
dftodrop = dfaeronet

In [4]:
dftodrop.head(10)

,Date(dd-mm-yy),Time(hh:mm:ss),Julian_Day,AOT_1640,AOT_1020,AOT_870,AOT_675,AOT_667,AOT_555,AOT_551,...,AOT_532-ExactWavelength(nm),AOT_531-ExactWavelength(nm),AOT_500-ExactWavelength(nm),AOT_490-ExactWavelength(nm),AOT_443-ExactWavelength(nm),AOT_440-ExactWavelength(nm),AOT_412-ExactWavelength(nm),AOT_380-ExactWavelength(nm),AOT_340-ExactWavelength(nm),Water(cm)-ExactWavelength(nm)
0,03:01:2017,2018-05-22 11:57:03,3.497951,NaN,0.152786,0.160540,0.170479,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
1,03:01:2017,2018-05-22 12:57:04,3.539630,NaN,0.149008,0.167898,0.185650,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
2,03:01:2017,2018-05-22 13:57:05,3.581308,NaN,0.092085,0.115457,0.143187,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
3,03:01:2017,2018-05-22 14:20:48,3.597778,NaN,0.090170,0.114062,0.139043,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
4,03:01:2017,2018-05-22 14:27:07,3.602164,NaN,0.097554,0.119154,0.146257,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
5,03:01:2017,2018-05-22 15:12:28,3.633657,NaN,0.087324,0.110046,0.136035,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
6,03:01:2017,2018-05-22 16:12:06,3.675069,NaN,0.118495,0.146694,0.191221,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
7,03:01:2017,2018-05-22 16:20:48,3.681111,NaN,0.129225,0.158022,0.211361,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
8,03:01:2017,2018-05-22 17:42:05,3.737558,NaN,0.121682,0.163272,0.240486,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
9,04:01:2017,2018-05-22 20:00:18,4.833542,NaN,0.072288,0.087320,0.118208,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8

In [5]:
dftodrop.head().T

,0,1,2,3,4
Date(dd-mm-yy),03:01:2017,03:01:2017,03:01:2017,03:01:2017,03:01:2017
Time(hh:mm:ss),2018-05-22 11:57:03,2018-05-22 12:57:04,2018-05-22 13:57:05,2018-05-22 14:20:48,2018-05-22 14:27:07
Julian_Day,3.49795,3.53963,3.58131,3.59778,3.60216
AOT_1640,NaN,NaN,NaN,NaN,NaN
AOT_1020,0.152786,0.149008,0.092085,0.09017,0.097554
AOT_870,0.16054,0.167898,0.115457,0.114062,0.119154
AOT_675,0.170479,0.18565,0.143187,0.139043,0.146257
AOT_667,NaN,NaN,NaN,NaN,NaN
AOT_555,NaN,NaN,NaN,NaN,NaN
AOT_551,NaN,NaN,NaN,NaN,NaN
AOT_532,NaN,NaN,NaN,NaN,NaN
AOT_531,NaN,NaN,NaN,NaN,NaN
AOT_500,0.208114,0.226671,0.1918,0.184189,0.194946
AOT_490,NaN,NaN,NaN,NaN,NaN
AOT_443,NaN,NaN,NaN,NaN,NaN
AOT_440,0.228015,0.24882,0.217239,0.203918,0.217913
AOT_412,NaN,NaN,NaN,NaN,NaN
AOT_380,0.237132,0.276807,0.245363,0.234789,0.244265
AOT_340,0.28125,0.272491,0.242486,0.232691,0.242109
Water(cm),3.35513,3.29235,3.29088,3.28153,3.31716
%TripletVar_1640,NaN,NaN,NaN,NaN,NaN
%TripletVar_1020,0.765042,0.544398,0.851954,0.81411,0.265278
%TripletVar_870,0.547168,0.416084,0.760582,0.887185,0.507776
%TripletVar_675,1.42682,0.408846,0.958828,1.22296,0.770118
%TripletVar_667,NaN,NaN,NaN,NaN,NaN
%TripletVar_555,NaN,NaN,NaN,NaN,NaN
%TripletVar_551,NaN,NaN,NaN,NaN,NaN
%TripletVar_532,NaN,NaN,NaN,NaN,NaN
%TripletVar_531,NaN,NaN,NaN,NaN,NaN
%TripletVar_500,0.737541,0.731105,1.33747,1.59884,1.04443
...,...,...,...,...,...
%TripletVar_412,NaN,NaN,NaN,NaN,NaN
%TripletVar_380,1.15661,1.53338,1.32142,1.84102,1.38685
%TripletVar_340,1.59015,1.82763,1.24287,1.63286,1.48093
%WaterError,NaN,NaN,NaN,NaN,NaN
440-870Angstrom,0.530013,0.586139,0.935484,0.867974,0.898588
380-500Angstrom,0.468569,0.725671,0.89268,0.883544,0.817936
440-675Angstrom,0.679828,0.683911,0.978297,0.906266,0.940404
500-870Angstrom,0.476348,0.547769,0.921756,0.870819,0.894446
340-440Angstrom,0.774445,0.364341,0.43846,0.524703,0.419119
440-675Angstrom(Polar),NaN,NaN,NaN,NaN,NaN
Last_Processing_Date(dd/mm/yyyy),11/09/2017,11/09/2017,11/09/2017,11/09/2017,11/09/2017
Solar_Zenith_Angle,44.4721,30.8422,17.1243,11.6934,10.2475
SunphotometerNumber,195,195,195,195,195
AOT_1640-ExactWavelength(nm),NaN,NaN,NaN,NaN,NaN
AOT_1020-ExactWavelength(nm),1019.3,1019.3,1019.3,1019.3,1019.3
AOT_870-ExactWavelength(nm),869.3,869.3,869.3,869.3,869.3
AOT_675-ExactWavelength(nm),675,675,675,675,675
AOT_667-ExactWavelength(nm),NaN,NaN,NaN,NaN,NaN
AOT_555-ExactWavelength(nm),NaN,NaN,NaN,NaN,NaN
AOT_551-ExactWavelength(nm),NaN,NaN,NaN,NaN,NaN
AOT_532-ExactWavelength(nm),NaN,NaN,NaN,NaN,NaN
AOT_531-ExactWavelength(nm),NaN,NaN,NaN,NaN,NaN
AOT_500-ExactWavelength(nm),500.7,500.7,500.7,500.7,500.7
AOT_490-ExactWavelength(nm),NaN,NaN,NaN,NaN,NaN
AOT_443-ExactWavelength(nm),NaN,NaN,NaN,NaN,NaN
AOT_440-ExactWavelength(nm),440.8,440.8,440.8,440.8,440.8
AOT_412-ExactWavelength(nm),NaN,NaN,NaN,NaN,NaN
AOT_380-ExactWavelength(nm),380.2,380.2,380.2,380.2,380.2
AOT_340-ExactWavelength(nm),339.1,339.1,339.1,339.1,339.1
Water(cm)-ExactWavelength(nm),935.8,935.8,935.8,935.8,935.8

## Let's remove all columns with NaN values because it will not be used in or problem
## First method

In [6]:
dfaeronet.columns

Index(['Date(dd-mm-yy)', 'Time(hh:mm:ss)', 'Julian_Day', 'AOT_1640',
       'AOT_1020', 'AOT_870', 'AOT_675', 'AOT_667', 'AOT_555', 'AOT_551',
       'AOT_532', 'AOT_531', 'AOT_500', 'AOT_490', 'AOT_443', 'AOT_440',
       'AOT_412', 'AOT_380', 'AOT_340', 'Water(cm)', '%TripletVar_1640',
       '%TripletVar_1020', '%TripletVar_870', '%TripletVar_675',
       '%TripletVar_667', '%TripletVar_555', '%TripletVar_551',
       '%TripletVar_532', '%TripletVar_531', '%TripletVar_500',
       '%TripletVar_490', '%TripletVar_443', '%TripletVar_440',
       '%TripletVar_412', '%TripletVar_380', '%TripletVar_340', '%WaterError',
       '440-870Angstrom', '380-500Angstrom', '440-675Angstrom',
       '500-870Angstrom', '340-440Angstrom', '440-675Angstrom(Polar)',
       'Last_Processing_Date(dd/mm/yyyy)', 'Solar_Zenith_Angle',
       'SunphotometerNumber', 'AOT_1640-ExactWavelength(nm)',
       'AOT_1020-ExactWavelength(nm)', 'AOT_870-ExactWavelength(nm)',
       'AOT_675-ExactWavelength(nm)', 'AOT_667-ExactWavelength(nm)',
       'AOT_555-ExactWavelength(nm)', 'AOT_551-ExactWavelength(nm)',
       'AOT_532-ExactWavelength(nm)', 'AOT_531-ExactWavelength(nm)',
       'AOT_500-ExactWavelength(nm)', 'AOT_490-ExactWavelength(nm)',
       'AOT_443-ExactWavelength(nm)', 'AOT_440-ExactWavelength(nm)',
       'AOT_412-ExactWavelength(nm)', 'AOT_380-ExactWavelength(nm)',
       'AOT_340-ExactWavelength(nm)', 'Water(cm)-ExactWavelength(nm)'],
      dtype='object')

In [7]:
dftodrop.drop(dftodrop.columns[42:63],axis=1, inplace=True)
dftodrop.drop(dftodrop.columns[20:37],axis=1, inplace=True)
dftodrop.drop(dftodrop.columns[7:12],axis=1, inplace=True)
dftodrop.drop(dftodrop.columns[8:10],axis=1, inplace=True)
dftodrop.drop(dftodrop.columns[9],axis=1, inplace=True)
dftodrop.drop(dftodrop.columns[3],axis=1, inplace=True)

In [8]:
dftodrop.head().T

,0,1,2,3,4
Date(dd-mm-yy),03:01:2017,03:01:2017,03:01:2017,03:01:2017,03:01:2017
Time(hh:mm:ss),2018-05-22 11:57:03,2018-05-22 12:57:04,2018-05-22 13:57:05,2018-05-22 14:20:48,2018-05-22 14:27:07
Julian_Day,3.49795,3.53963,3.58131,3.59778,3.60216
AOT_1020,0.152786,0.149008,0.092085,0.09017,0.097554
AOT_870,0.16054,0.167898,0.115457,0.114062,0.119154
AOT_675,0.170479,0.18565,0.143187,0.139043,0.146257
AOT_500,0.208114,0.226671,0.1918,0.184189,0.194946
AOT_440,0.228015,0.24882,0.217239,0.203918,0.217913
AOT_380,0.237132,0.276807,0.245363,0.234789,0.244265
AOT_340,0.28125,0.272491,0.242486,0.232691,0.242109
Water(cm),3.35513,3.29235,3.29088,3.28153,3.31716
440-870Angstrom,0.530013,0.586139,0.935484,0.867974,0.898588
380-500Angstrom,0.468569,0.725671,0.89268,0.883544,0.817936
440-675Angstrom,0.679828,0.683911,0.978297,0.906266,0.940404
500-870Angstrom,0.476348,0.547769,0.921756,0.870819,0.894446
340-440Angstrom,0.774445,0.364341,0.43846,0.524703,0.419119

In [ ]:
dftodrop.drop(columns = ['AOT_1640','AOT_667', 'AOT_555', 'AOT_551',
       'AOT_532', 'AOT_531', 'AOT_490', 'AOT_443', 'AOT_412', '%TripletVar_1640',
       '%TripletVar_1020', '%TripletVar_870', '%TripletVar_675',
       '%TripletVar_667', '%TripletVar_555', '%TripletVar_551',
       '%TripletVar_532', '%TripletVar_531', '%TripletVar_500',
       '%TripletVar_490', '%TripletVar_443', '%TripletVar_440',
       '%TripletVar_412', '%TripletVar_380', '%TripletVar_340', '%WaterError','440-675Angstrom(Polar)',
       'Last_Processing_Date(dd/mm/yyyy)', 'Solar_Zenith_Angle',
       'SunphotometerNumber', 'AOT_1640-ExactWavelength(nm)',
       'AOT_1020-ExactWavelength(nm)', 'AOT_870-ExactWavelength(nm)',
       'AOT_675-ExactWavelength(nm)', 'AOT_667-ExactWavelength(nm)',
       'AOT_555-ExactWavelength(nm)', 'AOT_551-ExactWavelength(nm)',
       'AOT_532-ExactWavelength(nm)', 'AOT_531-ExactWavelength(nm)',
       'AOT_500-ExactWavelength(nm)', 'AOT_490-ExactWavelength(nm)',
       'AOT_443-ExactWavelength(nm)', 'AOT_440-ExactWavelength(nm)',
       'AOT_412-ExactWavelength(nm)', 'AOT_380-ExactWavelength(nm)',
       'AOT_340-ExactWavelength(nm)', 'Water(cm)-ExactWavelength(nm)'], axis=1)

## Second method method

In [9]:
dfaeronet2 = pd.read_csv('../170101_171231_Sao_Paulo/170101_171231_Sao_Paulo.lev15', skiprows=[0,1,2,3],na_values = ['N/A'],parse_dates=[0,1],header=0)
dfaeronet2.head()

,Date(dd-mm-yy),Time(hh:mm:ss),Julian_Day,AOT_1640,AOT_1020,AOT_870,AOT_675,AOT_667,AOT_555,AOT_551,...,AOT_532-ExactWavelength(nm),AOT_531-ExactWavelength(nm),AOT_500-ExactWavelength(nm),AOT_490-ExactWavelength(nm),AOT_443-ExactWavelength(nm),AOT_440-ExactWavelength(nm),AOT_412-ExactWavelength(nm),AOT_380-ExactWavelength(nm),AOT_340-ExactWavelength(nm),Water(cm)-ExactWavelength(nm)
0,03:01:2017,2018-05-22 11:57:03,3.497951,NaN,0.152786,0.160540,0.170479,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
1,03:01:2017,2018-05-22 12:57:04,3.539630,NaN,0.149008,0.167898,0.185650,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
2,03:01:2017,2018-05-22 13:57:05,3.581308,NaN,0.092085,0.115457,0.143187,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
3,03:01:2017,2018-05-22 14:20:48,3.597778,NaN,0.090170,0.114062,0.139043,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8
4,03:01:2017,2018-05-22 14:27:07,3.602164,NaN,0.097554,0.119154,0.146257,NaN,NaN,NaN,...,NaN,NaN,500.7,NaN,NaN,440.8,NaN,380.2,339.1,935.8

In [10]:
dftodrop2 = dfaeronet2

In [ ]:
dftodrop2.head().T

In [ ]:
dftodrop2.drop(dftodrop2.columns[42:63],axis=1, inplace=True)
dftodrop2.drop(dftodrop2.columns[20:37],axis=1, inplace=True)
dftodrop2.drop(dftodrop2.columns[7:12],axis=1, inplace=True)
dftodrop2.drop(dftodrop2.columns[3],axis=1, inplace=True)

In [ ]:
dftodrop2.head().T

In [ ]:
dftodrop2.head()

In [ ]:
dftodrop2.head().T

In [ ]:
dftodrop2.head().T

## Third method

In [ ]:
dfaeronet.dropna(axis='columns')